

.listhero {
    height: 160px;
}

.gallery {
    display: block;
    position: relative;
  }
  
  .close {
    display: none;
    position: absolute;
    top: 0;
    right: 10px;
    background: black;
    padding: 4px 8px;
    color: white;
    font-size: 10px;
    font-weight: bold;
    border-radius: 5px;
  }
  
  .gallery:hover .close {
    display: block;
  }
  

  .ctalog {
    height: 135px;
    padding-left: 7px;
    padding-top: 25px;
    
    overflow: hidden;
    overflow-x: auto;
    
    white-space:nowrap;
}

.catalog1 {
    display: inline-block;
    vertical-align: top;
    
    margin-right: 5px;
  
}
.ctalog img {
  width: 80px;
  height: 110px;
  border-radius: 20px;

}